---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="YVoGYWmJT85OHSbEYy2JqRMmi", oauth_nonce="6cb049a822594bce7e3457ce77fe03f0",
        oauth_signature="SMfv0rUKEyGTr40MqyvPRjstAAg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450372797", oauth_token="4579816278-p1S0dR3r8gXhZkgph9TQjbCxAOOd9AcTqbY44sG",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 17:19:57 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - c0b144619f74b70b6957caaaa75d5acf
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1450373697'
      X-Response-Time:
      - '48'
      X-Transaction:
      - f30639d2ca99c64d
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Dec 17 17:14:29 +0000 2015","id":677537362583228416,"id_str":"677537362583228416","text":"RT
        @andrewmorgan: I\u2019ll be co-presenting Tableau\/MongoDB Connector for BI
        webinar https:\/\/t.co\/AtLYqaeXeM Visualising document data and expl\u2026","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":18080585,"id_str":"18080585","name":"MongoDB","screen_name":"MongoDB","location":"","description":"For
        the ones who dream big & think ahead to create the things we can\u2019t live
        without. MongoDB for #GIANTideas.","url":"https:\/\/t.co\/gdbC5QYyk3","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/gdbC5QYyk3","expanded_url":"https:\/\/www.mongodb.com\/","display_url":"mongodb.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":213513,"friends_count":3750,"listed_count":4134,"created_at":"Fri
        Dec 12 17:21:18 +0000 2008","favourites_count":1334,"utc_offset":-18000,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":true,"statuses_count":8753,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"ABB8C2","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/619655093\/767dji3m3k684nza7w9z.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/619655093\/767dji3m3k684nza7w9z.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/605086196813950976\/yMypcSYI_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/605086196813950976\/yMypcSYI_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/18080585\/1446559765","profile_link_color":"ABB8C2","profile_sidebar_border_color":"829D5E","profile_sidebar_fill_color":"99CC33","profile_text_color":"3E4415","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Thu
        Dec 17 08:34:56 +0000 2015","id":677406609916731392,"id_str":"677406609916731392","text":"I\u2019ll
        be co-presenting Tableau\/MongoDB Connector for BI webinar https:\/\/t.co\/AtLYqaeXeM
        Visualising document data and exploring London pubs","source":"\u003ca href=\"https:\/\/about.twitter.com\/products\/tweetdeck\"
        rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_re[...]
