<div class="ui card">
  <div class="content">
    <%= form_tag tweet_path, method: :post, class: "field"  %>
      <%= label_tag "Tweet" %>
      <%= text_field_tag "tweet[body]" %>
  </div>
  <div class="extra content">
    <%= submit_tag "Tweet", class: "ui button" %>
  </div>
</div>
