  <div class="event">
    <div class="label">
      <img src="/images/avatar/small/joe.jpg">
    </div>
    <div class="content">
      <div class="summary">
        <a>Joe Henderson</a> @ScreenName
        <div class="date">
          3 days ago
        </div>
      </div>
      <div class="extra text">
        <p><%= tweet.text %></p>
      </div>
      <div class="ui rating" data-max-rating="1">
        <%# <a class="like"> %>
        <%#   <i class="like icon"></i> 5 Likes %>
        <%# </a> %>
      </div>
    </div>
  </div>
</div>
