  <div class="event">
    <div class="label">
      <img src="/images/avatar/small/joe.jpg">
    </div>
    <div class="content">
      <div class="summary">
        <a>Joe Henderson</a> @ScreenName
        <div class="date">
          3 days ago
        </div>
      </div>
      <div class="extra text">
        Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
      </div>
      <div class="ui rating" data-max-rating="1">
        <%# <a class="like"> %>
        <%#   <i class="like icon"></i> 5 Likes %>
        <%# </a> %>
      </div>
    </div>
  </div>
</div>
