<body class="gradient" />

<div class="ui container center aligned centered">
  <h1 class="greeting">Twit</h1>
  <% if current_user %>
    </p>Hello, <%= current_user.name %></p>
    <%= link_to "Logout", logout_path %>
  <% else %>
    <p>Login with</p>
    <a href="<%= login_path %>">
      <button class="ui twitter button" id="twitter-login">
        <i class="twitter icon"></i>
        Twitter
      </button>
    </a>
  <% end %>
</div>
