
.login-with {
  font-family: HelveticaNeue-UltraLight, 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  color: white;
}

/* .screen-name { */
/*   font-weight: 100; */
/*   color: black; */
/*   font-size: 0.8rem; */
/* } */

.greeting {
  font-family: HelveticaNeue-UltraLight, 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 10rem;
  font-weight: 100;
  letter-spacing: 1px;
  color: white;
}

.nav-logo {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 1px;
  color: #55acee;
}

/* .feed { */
/*   border-top: 1px solid #eaeaea; */
/* } */

.centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.ui.text.container {
  margin-top: 4.5em;
  max-width: 600px !important;
}

.semi-transparent {
  opacity: 0.4;
}

.home-bground {
  background-color: #e1e8ed;
}

.gradient {
  background: #00d2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #00d2ff , #3a7bd5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #00d2ff , #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* .event { */
/*   border-top: 1px solid #eaeaea; */
/*   border-bottom: 1px solid #eaeaea; */
/* } */

